.welcomeText {
	font-size: 1.3rem;
	font-weight: 500;
}

.headerContainer {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-left: 1.5rem;
}

.controlsContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}