.avatar {
	border-radius: 50%;
	object-fit: cover;
}

.headerContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
}

.userProfile {
	display: flex;
	align-items: flex-start;
	margin-left: 25px;
	margin-top: 25px;
}

.userNameContainer {
	display: flex;
	flex-direction: column;
	margin-left: 15px;
	margin-top: 20px;
}

.userFullName {
	font-size: 1.3rem;
	font-weight: 600;
}

.userName {
	font-size: 1.0rem;
	color: #8e8e8e;
	margin-top: 5px;
}

.headerStatistics {
	display: flex;
	align-items: flex-end;
	padding: 0 1rem;
	flex-direction: column;
	justify-content: space-between;
}

.statistic {
	font-size: 0.9rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	color: #b5b5b5;
}